Source: tascam-gtk
Maintainer: Makoto Tsudo <makoto.tsudo@miuraseed.co.jp>
Section: sound
Priority: extra

Package: tascam-gtk
Section: sound
Priority: optional
Architecture: arm64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mixer controller for Tascam US-16x08

